@model WebApp8EF_UnivDirect.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty.FacultyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseStudents)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in ViewData["Courses"] as IEnumerable<Course>)
            {
                <p>@item.CourseId, @item.CourseName</p>
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
